<html>
    <head>
        <title>Seol's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Seol's Blog</a></h1>
        </div>

        <div>
            <p>published: 2017.09.10, 01:02</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi there ! Welcome :) </p>
        </div>

        <div>
            <p>published: 2017.09.10, 01:04</p>
            <h2><a href="">My second post</a></h2>
            <p>Have a lovely day everyone !</p>
        </div>
    </body>
</html>