{% extends 'blog/base.html' %}
{% block content %}

    <div class="content container">
    <div class="row">
        <div class="col-md-8">
                        <div class="post">
                    <div class="date">
        {% for post in posts %}
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi there ! Welcome :) </p>
        

        


  
    <div class="post">
        <p>published: {{ post.published_date }}</p>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>



            <p>published: 2017.09.10, 01:04</p>
            <h2><a href="">My second post</a></h2>
            <p>Have a lovely day everyone !</p>

            {% endfor %}
{% endblock %}